*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.main-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.main-title h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.75rem;
}

.menu {
  padding: 1rem 0;
}

/* article */

.img-container {
  width: 16rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s linear;
}

.picture-info {
  max-width: 16rem;
}

.img-container:hover {
  transform: scale(1.02);
}

.category {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.875rem;
  background: #333;
  color: #fff;
  padding: 4px 10px;
}

.shirt {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  box-shadow: 2px 3px 5px #333;
  margin-bottom: 0.5rem;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.price {
  font-weight: 400;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.2rem;
}

.btn {
  background: transparent;
  border: transparent;
  text-transform: capitalize;
  font-size: 0.875rem;
  border: 1px #ddd solid;
  padding: 0.25rem 1rem;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  background: #333;
  color: #fff;
}

@media (min-width: 375px) {
  .btn {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}

/* 768px */
@media (min-width: 768px) {
  .section-center {
    grid-template-columns: repeat(4, 1fr);
  }
}
